.mainPage {
  height: 100%;
  max-width: 1230px;
  padding: 0 15px;
  width: 100%;
  margin: 0 auto;
  display: flex;
}

.flex {
  display: flex;
  width: 100%;
  min-height: calc(100vh - 74px);
}

.left {
  width: 60%;
  border-right: 1px solid var(--grey);
  padding-right: 30px;
  padding-top: 40px;
}

.right {
  padding: 40px 30px 30px;
  width: 30%;
}
